@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&family=Source+Code+Pro:wght@300;400;700&display=swap');


:root{
    --cor-do-texto:black    ;
}

/*soft reset do css*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/fotofundo2.jpg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
    color: var(--cor-do-texto);
    font-family: 'Source Code Pro', monospace;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-whidth: 400px){
    body{
        font-size: 14px;
       
    }
}
/*breakpoint - responsivo*/
@media(min-width: 600px){
    body{
        font-size: 18px;
    }
}

/*breakpoint - responsivo*/
@media (min-width: 1200px){
    body{
        font-size: 20px;
     
    }
}

a{
    color: teal;

text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center; /*orizontel*/
    align-items: center; /*vertical*/
    flex-direction: column; /*deixar um de baixo do outro*/

}


.menu{
    background-color: white;
    position: fixed; /*posicao fixa*/
    top:0;/*sem margem*/
    width: 100vw; /*largura*/

}

.menu li a{
    padding: 10px 20px;
    display: block;
    transition: background-color 1s , color 0.5s;

}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}


.menu li a:hover,
    .menu li a:active{
        background-color: rgb(165, 14, 185);
        color: white;
    }

.titulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    from{
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
        }

        to{
            transform: scale(1) translateY(0);
            opacity: 1;
        }
}

.site-titulo, 
.site-subtitulo{
    color:var(--cor-da-texto);
    text-align: center;
  
} 

.site-titulo{
    font-size: 4em;
    font-family: 'Gloria Hallelujah',
     cursive;
  
}


.site-subtitulo{
    font-style: italic;
    font-family: 'Press Start 2P', 
    cursive;
    line-height: 1.8em;

}

.portifolio,
.contato{
    padding: 2em;
    min-height: 100vh;

}

.portifolio h2,
.contato h2{
    font-family: 'Press start 2P';
    color: var(--cor-do-texto);
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.portifolio .grid{
    display: grid;
    gap: 2em;
   /* grid-template-columns:220px 220px 220px 220px;/*espaco da colunas (qtas colunas qr)*/
}

@media (min-width: 560px){
    .portifolio .grid{
        grid-template-columns: 240px 240px;
    }
}

@media (min-width:880px){
    .portifolio .grid{
        grid-template-columns: repeat(4, 260px);/*260 largura*/
        justify-content: center;
        align-items: center;
        height: calc(100vh - 8m - 48px); /*altura imagem*/
    }
}

.portifolio figure{
    text-align: center;
}

.img-portifolio{
    height: 180px;
    width: 240px;
   
    object-position: left top;
    object-position: left center;
    
}

